<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="maestrano">
        <section name="app" type="System.Configuration.NameValueSectionHandler" />
        <section name="sso" type="Maestrano.Configuration.Sso, Maestrano" />
        <section name="api" type="System.Configuration.NameValueSectionHandler" />
        <sectionGroup name="webhook">
          <section name="account" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
      </sectionGroup>
    </configSections>
  <maestrano>
    <app>
      <add key="environment" value="test"/>
      <add key="host" value="https://myapp.com"/>
    </app>
    <api>
      <add key="id" value="prod_or_sandbox_app_id"/>
      <add key="key" value="prod_or_sandbox_api_key"/>
    </api>
    <sso>
      <!-- <add key="enabled" value="true"/> -->
      <!-- <add key="idm" value="https://idp.myapp.com"/> -->
      <!-- <add key="initPath" value="/maestrano/auth/saml/init"/> -->
      <!-- <add key="consumePath" value="/maestrano/auth/saml/consume"/> -->
      <!-- <add key="creationMode" value="virtual"/> -->
    </sso>
    <webhook>
      <account>
        <!-- <add key="groupsPath" value="/maestrano/account/groups/:id"></add> -->
        <!-- <add key="groupUsersPath" value="/maestrano/account/groups/:group_id/users/:id"></add> -->
      </account>
    </webhook>
  </maestrano>
</configuration>