<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="maestrano">
        <section name="app" type="Maestrano.Configuration.App, Maestrano" />
        <section name="sso" type="Maestrano.Configuration.Sso, Maestrano" />
        <section name="api" type="Maestrano.Configuration.Api, Maestrano" />
        <sectionGroup name="webhook">
          <section name="account" type="Maestrano.Configuration.WebhookAccount, Maestrano" />
        </sectionGroup>
      </sectionGroup>
    </configSections>
  <maestrano>
    <app
      environment="test"
      host="http://localhost:1234"
      />
    <api
      id="prod_or_sandbox_app_id"
      key="prod_or_sandbox_api_key" 
      />
    <!--
    <sso
      enabled="true"
      idm="https://idp.myapp.com"
      initPath="/maestrano/auth/saml/init.aspx"
      consumePath="/maestrano/auth/saml/consume"
      creationMode="virtual"
      />
     -->
    <webhook>
      <!--
      <account
        groupsPath="/maestrano/account/groups/:id"
        groupUsersPath="/maestrano/account/groups/:group_id/users/:id"
        />
       -->
    </webhook>
  </maestrano>
</configuration>